[submodule "shopping-list"]
	path = shopping-list
	url = git@github.com:Meal-planner-SDE/shopping-list.git
[submodule "meal-planner"]
	path = meal-planner
	url = git@github.com:Meal-planner-SDE/meal-planner.git
[submodule "osm-adapter"]
	path = osm-adapter
	url = git@github.com:Meal-planner-SDE/osm-adapter.git
[submodule "spoonacular-adapter"]
	path = spoonacular-adapter
	url = git@github.com:Meal-planner-SDE/spoonacular-adapter.git
[submodule "internal-db-adapter"]
	path = internal-db-adapter
	url = git@github.com:Meal-planner-SDE/internal-db-adapter.git
[submodule "internal-db"]
	path = internal-db
	url = git@github.com:Meal-planner-SDE/internal-db.git
[submodule "meal-planner-bot"]
	path = meal-planner-bot
	url = git@github.com:Meal-planner-SDE/meal-planner-bot.git
